<?xml version="1.0"?>
<model>
  <name>charging_station</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>enhyunss</name>
    <email>enhyunss@gmail.com</email>
  </author>
  <description>AMR 충전 스테이션 (본체 0.5 x 0.4 x 0.9 m + 노란 바닥 패드 1 x 1 m). 도킹 마커는 dock_marker 모델을 별도로 둔다.</description>
</model>
