<?xml version="1.0"?>
<model>
  <name>box_large</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>enhyunss</name>
    <email>enhyunss@gmail.com</email>
  </author>
  <description>대형 화물 상자 60 x 50 x 40 cm, 25 kg (config/robot_params.yaml payload.large)</description>
</model>
