<?xml version="1.0"?>
<model>
  <name>box_small</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>enhyunss</name>
    <email>enhyunss@gmail.com</email>
  </author>
  <description>소형 화물 상자 30 x 20 x 15 cm, 2 kg (config/robot_params.yaml payload.small)</description>
</model>
