<?xml version="1.0"?>
<model>
  <name>box_medium</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>enhyunss</name>
    <email>enhyunss@gmail.com</email>
  </author>
  <description>중형 화물 상자 50 x 40 x 30 cm, 10 kg (config/robot_params.yaml payload.medium)</description>
</model>
