<?xml version="1.0"?>
<model>
  <name>worker</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>enhyunss</name>
    <email>enhyunss@gmail.com</email>
  </author>
  <description>
    작업자 actor 의 스킨 메시(meshes/worker.dae) 보관 모델. 월드의 actor 들이 model://worker/meshes/worker.dae 를 참조한다.
    model.sdf 는 제자리에 서 있는 actor 예시다.
  </description>
</model>
